.centreText {
    text-align: center;
}

h1 {
    font-size: 30px;
}

input {
    input: focus;
    border-radius: 3px;
}
.submitButton, .input{
    margin-right: 5px;
}
#advanced-link {
    margin-bottom: 20px;
}
img {
    max-width: 200px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.results {
    text-align: left;
    word-wrap: break-word;
}
.results-box {
    margin: auto;
    padding-top: 10px;
    width: 1000px;
    border-style: solid;
    overflow: hidden;
}
.loader {
    margin-top: 30px;
}
.warning {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    text-align: justify;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 10px;
}
.error {
    margin-top: 30px;
}
desc {
    margin-bottom: 5px;
}